.hidden{
    display: none;
}


#clock{
    text-align: center;
}

#greeting{
    text-align: center;
}

#todo-form{
    text-align: center;
}


#todo-list{
    text-align: center;
}


#weather{
    font-style: italic;
    text-align: center;
}


#quote{
    font-style: italic;
    text-align: center;
}
