.hidden{
    display: none;
}

html{
    height:100%;
  }

body{
    background-image: url("../img/5.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#login-form{
    text-align: center; padding: 30px 30px;
}

#login-form input{
    width: 300px;
    height: 50px;
    text-align: center;
    font-size: 15px;
    border: 2px solid skyblue;
    border-radius: 10px;
}

#login-form input:hover{
    width: 300px;
    height: 50px;
    text-align: center;
    font-size: 15px;
    border: 2px solid white;
    border-radius: 10px;
    background-color: skyblue;
}

#login-form button{
    height: 55px;
    text-align: center;
    font-size: 15px;
    border: 2px solid skyblue;
    border-radius: 10px;
    background-color: white;
}

#login-form button:hover{
    height: 55px;
    text-align: center;
    font-size: 15px;
    border: 2px solid white;
    border-radius: 10px;
    background-color: skyblue;
}

#clock{
    text-align: center; padding: 30px 30px;
}

#greeting{
    text-align: center;
}

#todo-form{
    text-align: center; padding: 30px 30px;
}


#todo-form input{
    width: 300px;
    height: 50px;
    text-align: center;
    font-size: 15px;
    border: 2px solid skyblue;
    border-radius: 10px;
}

#todo-form input:hover{
    border: 2px solid white;
    background-color: skyblue;
}

#todo-list{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-weight: bold;
}

#todo-list button{
    font-size: 15px;
    outline: none;
    border: 2px solid skyblue;
    background-color: white;
    color: skyblue;
    padding: 5px;
    margin: 2px 2px;
    border-radius: 100px;
}

#todo-list button:hover{
    color:white;
    background-color: skyblue;
}

#quote{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 18px;
    font-style: italic;
    text-align: center;
    padding: 40px 20px;
}

#weather{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding: 20px 20px;
}